apiVersion: v1
kind: Service
metadata:
  name: client-service
spec:
  type: NodePort        # Obligatoire pour exposer nodePort
  selector:
    app: mern-client
  ports:
    - protocol: TCP
      port: 3000        
      targetPort: 3000  
      nodePort: 30002 
